
body{
  background-color: rgb(10, 70, 53);
}
.main{
  background-color: rgb(219, 202, 180);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(225, 189, 116);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
}

.title{
  text-align: center;
}

.row{
  display: flex;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

button{
  background-color: black;
  width: 30%;
  color: antiquewhite;
  border-radius: 10px;
  margin-right: 3px;
  font-size: larger;
}

#input,#output{
  width: 90%;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: xx-large;
}

.corner{
  background-color: rgb(30, 99, 50);
}
